@import 'about';
@import 'contect';
@import 'price';

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 200px;
}
a {
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
    text-decoration: none;
    }
}

header {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    width:100%;
    background-color: rgba(32, 12, 48, 0.822);
    .container {
        width:100%;
        color: wheat;
         @media (max-width: 520px) {
             display: flex;
             flex-direction: row-reverse;
             justify-content: center;
            .left {
                position: absolute;
                padding:1rem;
                text-align: center;
            }
            .header-button {
                width:100%;
                margin-right: auto;
                padding:1.3rem;
            }
            
            ul {
                padding:1rem 1rem 0;
                margin-top: 1rem;
                display: flex;
                text-align: center;
                flex-direction: column;
                li {
                    border-top: 1px solid white;
                    padding:10px;
                    text-align: center;
                    a {
                        display: block;
                        width:100%;
                        height:100%;
                    }
                }
                
            }
         }
        @media (min-width: 521px) {
            .pressme {
                display:none;
            }
            width:70%;
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            button { 
                    display: none;
            }
            .right{
                flex-direction: row;
                justify-content: end;
                li {
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }

        .left {
            font-family: 'Merriweather', serif;
            font-size:1.3rem;
            a {
                color:wheat;
            }
        }
        .right {
            font-family: 'Lobster', cursive;
            display: flex;
            
            li {
                
                a {
                    color: wheat;
                }
                transition: all 1s ease-out;
            }
    
            li:hover {
                background-color: rgba(198, 168, 221, 0.822);
                a {
                    color: black;
                }
                transition: all 1s ease-out;
            }
        }
    }
    
}

#content-intro-home {
    background: url("/dist/src/home1.jpg") no-repeat center center/cover;
     transition: all 3s ease-in-out 1s;
    height:100%;
    overflow: hidden;
    .container {
        margin-top: 5rem ;
        overflow: hidden;
        * {
            text-align: center;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            font-size: 1.8rem;
            color:orange;
            padding:3rem 0 1rem;
            font-family: 'Lobster', cursive;
        }
        .introduction {
            width: 80%;
            color: rgb(201, 197, 197);;
            font-size:1rem;
            padding-bottom: 3rem;
        }
        .clickbuttom{
            margin: 0 0 3rem;
            padding:0.5rem 1rem;
            font-size:1rem;
            font-weight: bolder;
            border-radius: 2px;
            font-family: 'Lobster', cursive;;
            background-color: grey;
            transition: all 1s ease-out;
            &:hover {
                background-color: rgb(78, 78, 78);
                a {
                    color:rgb(204, 185, 149);
                }
                transition: all 0.5s ease-out;
            }
        }
    }
}

#contectme-home{
    display: flex;
    @media (min-width: 521px) {
        margin-top: 3rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .clicktocontect {
            width: 40%;
        }
    }

    @media (max-width: 521px) {
        margin: 0 auto;
        width:80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .clicktocontect{
            margin-top:2rem;
            width: 80%;
        }
    }
    
    .clicktocontect{
        background-color: rgb(77, 75, 75);
        text-align: center;
        line-height: 3rem;
        border-radius: 10px;
        a {
            color:rgb(255, 166, 0);
            height:3vw;
            font-family: 'Lobster', cursive;
            font-size: 1.8rem;
            font-weight: bolder;
            i {
                padding-right: 1rem;
            }
        } 
    }

    .clicktocontect:hover {
        background-color: rgb(255, 190, 68);
        text-align: center;
        line-height: 3rem;
        border-radius: 10px;
        a {
            color:brown;
            height:3vw;
            font-family: 'Lobster', cursive;
            font-size: 1.8rem;
            font-weight: bolder;
            i {
                padding-right: 1rem;
            }
        }
    }
}


#content-2-home {
    text-align: center;
     @media (min-width: 521px) {
        display:flex;
        flex-direction: row;
        align-items: center;
        .whyus, .healthcard {
            width:50%;
            height:50rem;
        }
     }

     @media (max-width: 520px) {
        display:flex;
        flex-direction: column;
        justify-content: center;
     }

    .contentmain {
        margin:3rem auto 0;
        display:flex;
        flex-direction: column;
        align-items: center;            
        height: 80%;
        width:80%;
        box-shadow:0px 0px 10px #000;
        .photo{
            margin: 2rem 0 1rem;
            position: relative;
            width:30vw;
            height:30vw;
            border-radius: 100%;
        }
        .title { 
            font-family: 'Merriweather', serif;
            font-size:1.2rem;
        }
        .content {
            padding:1rem 2rem;
        }
        .clickme {
            margin: 3rem 0 3rem 0;
            padding: 0.8rem 1.2rem;
            background-color: grey;
            a{  
                color: white;
                font-family: 'Cookie', cursive;
                font-weight: 900;
                font-size:1.2rem;
            }
        }
        .clickme:hover {
            background-color: wheat;
            a{
                color:brown;
            }
        }
    }
    .whyus{
       .photo {
            background: url("/dist/src/home2.jpg")no-repeat center center/cover;
        }
    }    

    .healthcard{
        .photo {
            background: url("/dist/src/home.jpg")no-repeat center center/cover;
        }
    }

}

#content-3-home{
    @media (min-width: 521px){
        position: relative;
        top:-3rem;
        width:90%;
    }

    @media (max-width: 520px){
        position: relative;
        margin-bottom: 6rem;
        top:3rem;
        width:80%;
    }

    text-align: center;
    background:url("/dist/src/home4.jpg") no-repeat center center/cover;
    color:rgb(204, 185, 185);
    margin:0 auto;
    box-shadow:0px 0px 5px 8px #000;
    .title {
        padding-top: 1rem;   
        font-family: 'Cookie', cursive;
        font-size: 2rem;
    }
    .content{
        padding: 0.5rem 1rem 1.5rem 1rem;
    }
}

#content-4-home {
    padding: 0 2rem;
    .map { 
        margin:1rem auto 5rem auto;
        box-shadow:0px 0px 5px 10px #000;
    }
    

}

#contect-finish-home {
    text-align: center;
    @media (min-width: 521px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .location, .time, .contectus {
            width: 33.33%;
            box-shadow:0px 0px 10px #000;
        }
        .location, .contectus {
            background-color: wheat;
        }
        .time {
            background-color:pink;
        }
        .title {
            margin-top: 1.2rem;   
            font-family: 'Cookie', cursive;
            font-size: 1.5rem;
        }
        .content {
            font-family: 'Merriweather', serif;
            padding:0.2rem 0.8rem 2rem 1rem;
            overflow: auto;
        }
        
    }

    @media (max-width: 520px) {
        .location, .time, .contectus{
            background-color: wheat;
            box-shadow:inset 2px 2px 5px #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .time {
            background-color: pink;
        }
        .title {
                margin-top:0.8rem;   
                font-family: 'Cookie', cursive;
                font-size:2rem;
        }
        .content {
                font-family: 'Merriweather', serif;
                padding:0.2rem 0.8rem 2rem 0.8rem;
        }
    }

    i {
        font-size: 2rem;
        margin-top:1rem;
    }
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(66, 64, 64);
    height: 3rem;
    div {
        color: #f5deb2a4;
        font-size: 0.8rem;
       text-align: center;
       line-height: 3rem;
    }
}